<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tables - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <style>
            .error-class {
                color: rgba(255, 60, 0, 0.99);
            }
        </style>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <h1 class="navbar-brand ps-3">관리자용 DB 관리</h1>
            <!-- Navbar-->
            <button class="btn btn-primary d-none d-md-inline-block ms-auto me-0 me-md-3 my-2 my-md-0" type="button" th:onclick="|location.href='@{/admin/db/logout}'|">
                Logout
            </button>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Database Table</div>
                            <a class="nav-link" th:href="@{/admin/db/table/orderer}">
                                ORDERER
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/performer}">
                                PERFORMER
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/admin}">
                                ADMIN
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/ordersheet}">
                                ORDER_SHEET
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/report}">
                                REPORT
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/review}">
                                REVIEW
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/matching}">
                                MATCHING
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/matchrequest}">
                                MATCH_REQUEST
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/chatroom}">
                                CHAT_ROOM
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/chatmessage}">
                                CHAT_MESSAGE
                            </a>
                            <a class="nav-link" th:href="@{/admin/db/table/filterword}">
                                FILTER_WORD
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">메인 관리자 페이지</h1>
                        <p class="mt-4">좌측 네비게이션으로 테이블에 접근하세요.</p>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="/js/datatables-simple-demo.js"></script>
    </body>
</html>
